.categorycard {
    display: flex;
    flex-direction: column;
    width: 30%;

    h3 {
        font-size: 16px;
        
    }

    img {
        height: 200px;
        width: 300px;
    }

    .heart {
        height: 20px;
        width: 20px;
        padding: 1rem;
    }

    a {
        color: white;
    }
}