.event {
    img {
        height: 500px;
        width: 700px
    }
}

.tickets {
    display: flex;
    flex-wrap: wrap;
}

.artists {
    display: flex;
    flex-wrap: wrap;

    h2 {
        width: 100%;
    }
}