main {
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    h1 {
        width: 100%;
        font-size: 30px;
    }

    .hovedattraksjoner {
        display: flex;
        flex-direction: column;
        width: 30%;
        
        h3 {
            font-size: 20px;
        }
        
        img {
            height: 200px;
            width: 300px;
        }
        
        a {
            color: white;
        }
        
    }

    .bysortering {
        width: 100%;

        h2 {
            font-size: 30px;
        }
    }

    .hjemmeside {
        display: flex;
        flex-wrap: wrap;

        h2 {
            width: 100%;
            font-size: 30px;
        }
    }
}

