#root {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    nav {
        display: flex;
        gap: 1rem;

        a {
            color: #fff;
        }
    }

    a {
        color: #fff;
    }
}